@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

:root {
  --sidebar-clr: #e07a5f;
  --header-clr: #f4f1de;
  --body-clr: #3d405b;

  --card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  --card-border-radius: 12px;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: min(25vh, 300px) 1fr;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
}

.aside {
  background-color: var(--sidebar-clr);
  grid-row: span 2;
  padding: 16px;
  padding-left: clamp(16px, 2.5vw, 64px);

  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 64px;
  color: white;

  .logo {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: 25px;
    gap: 16px;

    align-items: stretch;
    h1 {
      font-weight: 400;
    }
  }

  img {
    filter: invert(100%) sepia(7%) saturate(2%) hue-rotate(59deg)
      brightness(111%) contrast(101%);
  }

  a {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 16px;
  }

  .nav {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 64px;

    ul {
      display: grid;
      gap: 16px;
    }
  }
}

.header {
  background-color: var(--header-clr);

  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content min-content;
  align-items: center;
  padding: 16px 32px;

  box-shadow: 15px 0 10px rgba(0, 0, 0, 0.25);
  gap: 16px;

  .search-bar {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    gap: 0 8px;

    form {
      input {
        width: 100%;
        border-radius: 12px;
        border: none;
        padding: 6px;
        background-color: #e2e8f0;
      }
    }
  }

  .profile {
    display: grid;
    grid-template-columns: 25px max-content;
    align-items: center;
    justify-content: end;
    gap: 16px;

    a {
      display: grid;
      grid-template-columns: 50px 1fr;
      align-items: center;
      gap: 16px;
      font-weight: 500;

      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .notification-icon:hover {
      transform: scale(115%);
      cursor: pointer;
    }
  }

  .greetings {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content;
    align-items: center;
    gap: 16px;

    p {
      font-weight: 500;

      span {
        display: block;
        font-size: 0.75rem;
      }
    }

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(75px, 100px));
    grid-template-rows: min-content;
    align-items: center;
    justify-content: end;
    gap: 0 16px;

    a {
      background-color: var(--sidebar-clr);
      padding: 8px 10px;
      text-align: center;
      border-radius: 16px;
      color: white;
      font-weight: 500;

      &:hover {
        filter: brightness(150%);
        transform: scale(115%);
      }
    }
  }
}

.dashboard {
  background-color: var(--body-clr);
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: repeat(2, 1fr);
  max-height: 100vh;

  gap: 32px 12px;
  padding: 32px;
  padding-bottom: 0;

  section {
    > h3,
    > h4 {
      color: white;
    }
  }

  .projects {
    padding-left: 0;
    grid-row: span 2;
    display: grid;
    gap: 12px;
    grid-template-rows: min-content 1fr;

    ul {
      overflow-y: scroll;
      display: grid;
      gap: 32px;
      padding: 32px;
      padding-top: 6px;
      padding-left: 0;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 250px;

      li {
        display: grid;
        position: relative;
        border-radius: var(--card-border-radius);
        overflow: hidden;
        box-shadow: var(--card-box-shadow);

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 10px;
          background-color: var(--sidebar-clr);
          left: 0;
          top: 0;
        }

        article {
          background-color: var(--header-clr);
          padding: 32px;
          display: grid;
          grid-template-rows: repeat(2, min-content) 1fr;

          p {
            font-size: 0.9rem;
            color: var(--body-clr);
          }

          div {
            display: grid;
            grid-template-columns: repeat(3, 25px);
            grid-template-rows: min-content;
            align-content: end;
            justify-content: end;
            gap: 16px;

            img {
              cursor: pointer;

              &:hover {
                transform: scale(115%);
              }
            }
          }
        }
      }
    }
  }

  .announcements {
    display: grid;
    gap: 16px;
    grid-template-rows: min-content 1fr;

    ul {
      background-color: var(--header-clr);
      box-shadow: var(--card-box-shadow);
      border-radius: var(--card-border-radius);
      display: grid;

      li {
        padding: 16px 24px;
        position: relative;
      }

      > * + * {
        &::after {
          content: "";
          position: absolute;
          background-color: var(--body-clr);
          width: 80%;
          height: 1px;
          top: 0;
        }
      }

      h4 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  .trending {
    display: grid;
    gap: 12px;
    grid-template-rows: min-content 1fr;
    padding-bottom: 32px;

    ul {
      background-color: var(--header-clr);
      border-radius: var(--card-border-radius);

      display: grid;
      padding: 16px 24px;
      gap: 16px 0;
      li {
        article {
          display: grid;
          grid-template-columns: 50px max-content;
          grid-template-rows: min-content;
          gap: 0 12px;

          align-items: center;
          p {
            font-size: 0.8rem;

            span {
              font-weight: bold;
              display: block;
            }
          }

          img {
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
