@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
}

.aside {
  background-color: rgb(115, 133, 236);
  grid-row: span 2;
  padding: 16px;
  padding-left: clamp(16px, 2.5vw, 64px);

  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 64px;
  color: white;

  .logo {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: 25px;
    gap: 16px;

    align-items: stretch;
    h1 {
      font-weight: 400;
    }
  }

  img {
    filter: invert(100%) sepia(7%) saturate(2%) hue-rotate(59deg)
      brightness(111%) contrast(101%);
  }

  a {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 16px;
  }

  .nav {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 64px;

    ul {
      display: grid;
      gap: 16px;
    }
  }
}

.header {
  background-color: blue;
}
.dashboard {
  background-color: purple;
}
